@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --border: 0 0% 92%;
    --input: 0 0% 92%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 210 40% 98%;
    --primary-h: 0;
    --primary-s: 0%;
    --primary-l: 0%;

    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 0%;
    --secondary-h: 0;
    --secondary-s: 0%;
    --secondary-l: 90%;

    --accent: 0 0% 80%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 91%;

    --muted: 0 0% 7%;
    --muted-foreground: 0 0% 67%;

    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 44%;

    --popover: 0 0% 0%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;

    --card: 0 0% 0%;
    --card-foreground: 213 31% 91%;

    --primary: 0 100% 100%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --primary-h: 0;
    --primary-s: 100%;
    --primary-l: 100%;

    --secondary: 0 0% 40%;
    --secondary-foreground: 210 40% 98%;
    --secondary-h: 213;
    --secondary-s: 98%;
    --secondary-l: 47%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.b-r {
  border: 1px solid red;
}

.b-b {
  border: 1px solid blue;
}
.blurBack {
  backdrop-filter: blur(10px);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.subPages-enter {
  max-height: 0;
  overflow: hidden;
}

.subPages-enter-active {
  max-height: 500px; /* adjust this value based on the maximum height you expect for the subPages */
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.subPages-exit {
  max-height: 500px;
  overflow: hidden;
}

.subPages-exit-active {
  max-height: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.heroGradient {
  animation: gradient 9s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background: linear-gradient(60deg, #1abc9c, #16a085);
  }
  33% {
    background: linear-gradient(60deg, red, pink);
  }
  66% {
    background: linear-gradient(60deg, #3498db, purple);
  }
  100% {
    background: linear-gradient(60deg, orange, yellow);
  }
}

.carousel__track {
  animation-timing-function: linear;
  display: flex;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  white-space: nowrap;
  animation-name: slider_slide;
}

.carousel__item {
  flex-shrink: 0;
}

@keyframes slider_slide {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
